# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized

### Objectifs couverts par ce cahier :
- Création d'un nouveau Jupyter notebook
- Renommer un notebook
- Inserer de nouvelles cellules
- Utiliser le format Markdown et inserer des titres, des commentaires, des listes à puces, des listes à numéros, des tableaux.
- Utiliser le format Code et réaliser des opérations arithmétiques simples

Some of the popular languages that Data Scientists use are:

1. Python
2. R
3. SQL

Some of the commonly used libraries used by Data Scientists include:

1. Pandas
2. NumPy
3. TensorFlow

<table> <thead> <tr> <th> Data Science Tools </th> </tr> </thead> <tbody> <tr> <tr> <td>Python</td> </tr> <tr> <td>R</td> </tr> <tr> <td>SQL</td><tr></tbody></table>

### Below are a few examples of evaluating arithmetic expressions in Python.
3+4
7*2
(6-2)/2
3**2

In [8]:
# Il s’agit d’une simple expression arithmétique pour ajouter plusieurs entiers.
(3*4)+5

17

In [12]:
# Cela convertira 200 minutes en heures de plongée par 60
print("200 minutes correspondent à ",round(200/60, 2), " heures de plongée.")

200 minutes correspondent à  3.33  heures de plongée.

## Author :   Henri de MEYER